<div id ="dashboard">
  <h2>Admin Dashboard</h2>

  <%= link_to "Jump To Orders List", admin_dashboard_path(:anchor =>"orders-list") %> <br>
  <%= link_to "Jump To Users List", users_path %>

<table class="zebra table-hover" id="restaurant-status">
  <thead>
    <tr>
      <th id="tleft">Restaurant Name</th>
       <th id ="tright" colspan=2>Update Status</th>
    </tr>
  </thead>
  <% @dashboard.restaurants.each do |restaurant| %>
    <div>
      <tr>
      <td><h3 class="restaurant-link"><%= link_to restaurant.name, restaurant_dashboard_path(restaurant.slug) %></h3></td>
        <%= form_for restaurant, url: restaurant_path(restaurant.id), method: "put", html: {multipart: true}  do |f| %>
        <td><p class="status" id="status-label"><%= f.label :status %>
        <%= f.select(:status, ["Pending", "Declined", "Approved", "Deactivated"]) %></p></td>
        <%= f.hidden_field :id, value: restaurant.id %>
        <td><%= f.submit "Update Status", {:class => "btn btn-success create-new-item btn-sm"}%></td>
      <% end %>
    </tr>
  <% end %>
    </div>
  </table>
      <br>
  <div class="orders-list">
    <h3>Orders</h3>
    <a id="orders-list"></a>
    <%= link_to "Order History", orders_path %>
  </div>

</div>
