<div id ="dashboard">

  <table class="admin-table" id="admin">
    <thead>
      <tr>
     <th id="admin-header"><h2>Admin Dashboard</h2></th>
      </tr>
       </thead>
        <div>
         <tr>
         <tbody>
           <td><%= link_to "Users", users_path, {:class => "users-btn btn btn-success"} %>
               <%= link_to "Orders List", orders_path,:class => "orders-list-btn btn btn-success" %></td> 
         </tr>
         </tbody>
       </div>
  </table>

  <table class="zebra table-hover" id="restaurant-status">
    <thead>
      <tr>
        <th id="tleft">Restaurant Name</th>
        <th id="tright" colspan=2>Update Status</th>
      </tr>
    </thead>
    
    <% @dashboard.restaurants.each do |restaurant| %>
      <div>
        <tr>
          <td><h3 class="restaurant-link"><%= link_to restaurant.name, restaurant_dashboard_path(restaurant.slug) %></h3></td>
          <%= form_for restaurant, url: restaurant_path(restaurant.id), method: "put", html: {multipart: true}  do |f| %>
            <td><p class="status" id="status-label"><%= f.label :status %>
            <%= f.select(:status, ["Pending", "Declined", "Approved", "Deactivated"]) %></p></td>
            <%= f.hidden_field :id, value: restaurant.id %>
            <td><%= f.submit "Update Status", {:class => "btn btn-success create-new-item btn-sm"}%></td>
          <% end %>
        </tr>
      </div>
    <% end %>
  </table>
  <br>
</div>
