<h4>Order #<%= order.id %></h4>
  <table class="table">
    <thead>
      <tr>
        <th>Dish</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <% order.items.each do |item| %>
      <tbody>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= print_price(item.price) %></td>
        <td>
        <% item.categories.each do |category| %>
            <%= category.name %>
        <% end %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
  
  <p>Order Status: <%= order.status %></p>
