<div class="jumbotron">
  <h1>Welcome to Hunger Gains!</h1>
  <p>...may the odds be ever in your flavor.</p>
    <% if current_user %>
    <%= link_to "My Account", user_path(current_user), {:class => "btn btn-primary btn-lg"} %>
    <% else %>
    <%= link_to "Sign up now", login_path, {:class => "btn btn-primary btn-lg login"} %>
    <% end %>
  </p>
</div>

<div id="items">
  <ul>
  <% @restaurants.each do |restaurant| %>
  <li id="item_<%= restaurant.id %>" class="item">
  <div class="item-wrapper">
    <div class="item-details">
      <%= link_to restaurant.name, restaurant_items_path(restaurant.slug), class: "title" %>
      <p><%= truncate(restaurant.description, length: 25) %>
      </p>
      <div>
        <ul class="categories">
            <% restaurant.categories.each do |category| %>
              <li class="glyphicon glyphicon-tag category"></li><li><%= link_to category.name,restaurant_items_path(restaurant.slug, "Categories" => category.id) %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  </ul>
</div>
